.menu{
    background-color: black;
    color: white;
    padding:5px;
    width:100%;
    font-family: 'Times New Roman', Times, serif;
    overflow:hidden;
}
.menu-list ul{
    text-align: center;
    margin-left: 100px;
    margin-top: 5px;
    margin-bottom: 1px;
}
.menu-list li {
    font-size:18px;
    height: 10px;
    display: inline-block;
    padding: 15px 15px;
  }
  .menu-list a {
    color:white;
    text-decoration: none;
}
body{
    background-image: url("../images/stil-564510-unsplash.jpg");
    background-size: 600px;
   
}
.main-body{
    
        width: 42%;
        margin-left: 30%;
        height: auto;
        border: solid thin rgb(97, 90, 90);
        display: inline-block;
        margin-top: 5px;
        font-family: 'Times New Roman', Times, serif;
}


    

